---
Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-include-cleaner,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-isolate-declaration,
  -clang-diagnostic-c++98-compat,
  -clang-diagnostic-c++98-compat-pedantic,
  -clang-diagnostic-pre-c++14-compat,
  -clang-diagnostic-pre-c++17-compat,
  -clang-diagnostic-pre-c++20-compat,
  -clang-diagnostic-used-but-marked-unused,
  -clang-diagnostic-disabled-macro-expansion

WarningsAsErrors: ''
HeaderFilterRegex: '^(src|test)/[^/]+[.]h(pp)?$'
ExcludeHeaderFilterRegex: 'boost|gsl'
SystemHeaders: false

CheckOptions:
  misc-include-cleaner.IgnoreHeaders: "precompiled[.]h"
  bugprone-reserved-identifier.AllowedIdentifiers: '__boost_.*'
  modernize-use-nullptr.NullMacros: 'NULL'
---
