*.bak
*.vcxproj.user
/RiverCrossing.licenseheader

/BuildRequiredBoostLibs.mk
/BoostDirs*.mk
/GSL_Dirs*.mk
/Lib*.props

/.vs
/.vscode
/Versions

/.deps
/src/precompiled.h.gch
/x64
/x32
/x_arm

/GoServer/cmd/RiverCrossingServer/RiverCrossingServer*
