*.bak
/RiverCrossing.licenseheader

/BoostDirs*.mk
/GSL_Dirs*.mk
/Lib*.props

/.vs
/.vscode
/Versions

/.d
/.r
/.td

/src/precompiled.h.gch
/GoServer/cmd/RiverCrossingServer/RiverCrossingServer*
/x64
/x32
/x_arm
